
name:                                             02 - Create workload environment

on:
  workflow_dispatch:
    inputs:
      workload_environment:
        description:                              "Workload zone name"
        required:                                 true
        type:                                     string
        default:                                  TEST-SECE-SAP01
      control_plane_name:
        description:                              "Control Plane Name"
        required:                                 true
        type:                                     environment

permissions:
  issues:                                         write
  contents:                                       write
  actions:                                        write

jobs:
  create_workload_environment:
    name:                                         Create workload environment
    environment:                                  ${{ inputs.control_plane_name }}
    runs-on:                                      ubuntu-latest
    container:
      image:                                      ${{ vars.DOCKER_IMAGE }}
    steps:
      - name:                                     Get app token
        id:                                       get_workflow_token
        uses:                                     actions/create-github-app-token@v2
        with:
          app-id:                                 ${{ secrets.APPLICATION_ID }}
          private-key:                            ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name:                                     Checkout repository
        uses:                                     actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth:                            0
          token:                                  ${{ secrets.GITHUB_TOKEN }}

      - name:                                     Create GitHub Workload Environment
        env:
          GH_TOKEN:                               ${{ steps.get_workflow_token.outputs.token }}
        run:                                      |
          CONTROL_PLANE_NAME=${{ github.event.inputs.control_plane_name }}
          WORKLOAD_ZONE_NAME=${{ github.event.inputs.workload_environment }}

          environment=$(echo "${WORKLOAD_ZONE_NAME}" | awk -F'-' '{print $1}' | xargs)
          region_code=$(echo "${WORKLOAD_ZONE_NAME}" | awk -F'-' '{print $2}' | xargs)
          workload_vnet=$(echo "${WORKLOAD_ZONE_NAME}" | awk -F'-' '{print $3}' | xargs)

          region_code_lower=$(echo "${region_code}" | tr '[:upper:]' '[:lower:]')

          pushd /source/deploy/terraform/terraform-units/modules/sap_namegenerator
          region=$(echo "{ for k, v in var.region_mapping : v => k }[\"${region_code_lower}\"]" | terraform console | tr -d '"')
          popd

          echo "Region Code: $region_code"
          echo "Region: $region"

          workload_config_name=${WORKLOAD_ZONE_NAME}-INFRASTRUCTURE
          url_to_call=/repos/${{ github.repository }}/environments/${WORKLOAD_ZONE_NAME^^}

          echo "Creating environment: ${WORKLOAD_ZONE_NAME^^}"
          _=$(gh api \
            -X PUT \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            ${url_to_call})

          # Add WORKSPACES file
          mkdir -p WORKSPACES/LANDSCAPE/${workload_config_name^^}

          dns_label=$(echo "${CONTROL_PLANE_NAME}" | tr '[:upper:]' '[:lower:]' | tr '-' '.').contoso.net

          cat .cfg_template/landscape.tfvars \
            | sed "s|@@ENV@@|${environment}|g" \
            | sed "s|@@REGION@@|${region}|g" \
            | sed "s|@@VNET@@|${workload_vnet}|g" \
            | sed "s|@@DNS_LABEL@@|${dns_label}|g" \
            > WORKSPACES/LANDSCAPE/${workload_config_name^^}/${workload_config_name^^}.tfvars

          git config --global --add safe.directory ${GITHUB_WORKSPACE}
          git config --global user.name "GitHub Actions"
          git config --global user.email "sap-automation-deployer@noreply.github.com"

          git add WORKSPACES
          git commit -m "Add WORKSPACES for ${workload_config_name^^}"
          git pull --rebase origin main
          git push origin main

          # Set secrets
          if [[ "${{ vars.USE_MSI }}" != "true" ]]; then
            gh secret set ARM_CLIENT_SECRET --body "${{ secrets.ARM_CLIENT_SECRET }}" --env ${WORKLOAD_ZONE_NAME}
          fi

          # Set variables
          gh variable set ARM_CLIENT_ID --body "${{ vars.ARM_CLIENT_ID }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set ARM_SUBSCRIPTION_ID --body "${{ vars.ARM_SUBSCRIPTION_ID }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set ARM_TENANT_ID --body "${{ vars.ARM_TENANT_ID }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set ARM_OBJECT_ID --body "${{ vars.ARM_OBJECT_ID }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set APPLICATION_CONFIGURATION_NAME --body "${{ vars.APPLICATION_CONFIGURATION_NAME }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set DEPLOYER_KEYVAULT --body "${{ vars.DEPLOYER_KEYVAULT }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set CONTROL_PLANE_NAME --body "${{ vars.CONTROL_PLANE_NAME }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set TERRAFORM_REMOTE_STORAGE_ACCOUNT_NAME --body "${{ vars.TERRAFORM_REMOTE_STORAGE_ACCOUNT_NAME }}" --env ${WORKLOAD_ZONE_NAME}
          gh variable set USE_MSI --body "${{ vars.USE_MSI }}" --env ${WORKLOAD_ZONE_NAME}
